	<div class = "topnav">
		<ul class = "navmenu">
			<li class = "navitem" id="logo"><img src="/static/images/KudosLogo.png" width="" height="50px"></li>
		</ul>
	</div>
<h1>Error 404 - Page Is Nowhere to be Found</h1>