	<div class = "topnav">
		<ul class = "navmenu">
            <li class = "navitem" style="width:210px"><div class="inactive"><a href="/">Home</a></div></li>
			<li class = "navitem" id="logo"><img src="/static/images/KudosLogo.png" width="" height="50px"></li>
		</ul>
	</div>
        <div class="menu">
            <h1 class="menutitle" style="text-align: center">Email not linked to any account</h1>
            <div style='text-align: center'>
            <!-- add if decide to allow users to create their own account <a class='menutitle' style='text-align: center' href='/createaccount'>Create an Account</a><br> -->
            <hr>
            <a class="menutitle" style="text-align: center; font-size:15px" href="/">Home</a>
            </div>
        </div>
    </div>