	<div class = "topnav">
		<ul class = "navmenu">
            <li class = "navitem" style="width:210px"><div class="inactive"><a href="/">Home</a></div></li>
			<li class = "navitem" id="logo"><img src="/static/images/KudosLogo.png" width="" height="50px"></li>
		</ul>
	</div>
    <div class="menu">
        <h1 class="menutitle" style="text-align: center">Please Enter the Email Linked to Your Account</h1>
        <div name="pass-form">
            <form style="text-align: center" action="/forgotpassword" method="POST">
                <input class="menutitle" style="text-align: center" type="text" name='email' placeholder="Email" required><br>
                <br>
                <input type="submit">
                <br>
            </form>
        </div>
    </div>