	<div class = "topnav">
		<ul class = "navmenu">
			<li class = "navitem" id="logo"><img src="/static/images/KudosLogo.png" width="" height="50px"></li>
		</ul>
	</div>
<div class="menu">
    <h1 class="menutitle" style="font-size:35px; text-align: center">Please Log In</h1>
    <div name="login-form">
        <form style="text-align: center" action="/" method="POST">
            <input class="menutitle" style="text-align: center" type="text" name='email' placeholder="Email" required><br>
            <input class="menutitle" style="text-align: center" type="password" name="password" placeholder="Password" required><br>
            <br>
            <input type="submit">
            <br>
            <a class="menutitle" style="text-align:center; font-size:15px" href="/forgotpassword">Forgot Password?</a>
        </form>
    </div>
</div>
